<div style="background-color: #eee; margin-top: -20px;">
    <div style="background-color: #eee; margin-left: auto; margin-right: auto; width: 960px; height: 360px">
		<div style="margin-top: 16px; margin-left: 30px; float: left; width:100%">
			
			<intro>
				You're always on the go, shouldn't your files be too?<br/>
			
				<main> Mobifly </main> lets you <b2>access your files from mobile devices 20x faster</b2>.
			</intro>
 		</div>
 		
 		<div style="float: left; margin-top: 210px; width: 100%; text-align: center">
 			<div style = "float:right; margin-right: 90px;">
 				<%= link_to "Download Mobifly!", '#', class: "btn btn-custom" %>
 			</div>
 			<div style = "float: right; margin-right: 20px; margin-top: 24px;">
 				<intro> <small> Finally, a file app that can keep up with you... </small ></intro>
 			</div>
 		</div>
 		
	</div>
</div>