<div style="background-color: #eee; margin-top: -20px;">
    <div style="background-color: #eee; margin-left: auto; margin-right: auto; width: 960px; height: 320px">
		<div class="center" style="width: 360px; margin-top: 90px; float: left;">
			<hwelcome>Welcome to</hwelcome>
			<htitle>MOBIFLY</htitle>
 		</div>
 		<div style="float: left; margin-left: 60px; margin-top: 80px">
 			<intro>
 			Share files between devices anytime, anywhere.
 			</intro>
 			<br/>
 			<intro>
 				<b>
 				Access your files on mobile devices 20x faster.
 				</b>
 			</intro>
 			<div style="margin-top: 20px; margin-left: 100px">
 				<%= link_to "Download Mobifly", '#', class: "btn btn-custom" %>
 			</div>
 		</div>
	</div>
</div>