<% provide(:title, @user.name + " Files") %>

<div class="row">
	<aside class="span3">
		<section>
			<h1>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span9">
		<div class="file_nav">
			test
		</div>
	</div>
</div>