
<div class="row center">
	<div class="span6">
		<h1>Welcome to</h1>
		<h1>MOBIFLY</h1>
 	</div>
 	<div class="span6">
 		<h3>
 		Mobifly is not just another file access app.  Get your files to and from mobile devices 20x faster.
 		</h3>
 	</div>
</div>
<div class = "row center">
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

